n8n-workflow.json
{
  "name": "OdTauLai Claude Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odtaulai-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-push",
      "name": "Push Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "odtaulai-push"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "odtaulai-pull",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-pull",
      "name": "Pull Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 520],
      "webhookId": "odtaulai-pull"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Store the incoming snapshot in workflow static data\nconst snapshot = $input.item.json.body || $input.item.json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.lastSnapshot = JSON.stringify(snapshot);\nstaticData.snapshotAt = new Date().toISOString();\n// Clear any pending patch when new snapshot arrives\nstaticData.pendingPatch = null;\nreturn { json: { ok: true, taskCount: (snapshot.tasks||[]).length, snapshotAt: staticData.snapshotAt } };"
      },
      "id": "store-snapshot",
      "name": "Store Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-push",
      "name": "Respond Push",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return pending patch if one exists, otherwise empty\nconst staticData = $getWorkflowStaticData('global');\nconst patch = staticData.pendingPatch ? JSON.parse(staticData.pendingPatch) : { updates: [] };\n// Clear after pulling\nif(staticData.pendingPatch) staticData.pendingPatch = null;\nreturn { json: patch };"
      },
      "id": "get-patch",
      "name": "Get Pending Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-pull",
      "name": "Respond Pull",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 520]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odtaulai-patch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-patch",
      "name": "Write Patch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 740],
      "webhookId": "odtaulai-patch",
      "notes": "Claude (via MCP or manual) POSTs patch here. OdTauLai picks it up on next Pull."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Store Claude's patch for OdTauLai to pull\nconst patch = $input.item.json.body || $input.item.json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pendingPatch = JSON.stringify(patch);\nreturn { json: { ok: true, updateCount: (patch.updates||[]).length } };"
      },
      "id": "store-patch",
      "name": "Store Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 740]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-patch",
      "name": "Respond Patch",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 740]
    }
  ],
  "connections": {
    "Push Webhook": {
      "main": [[{ "node": "Store Snapshot", "type": "main", "index": 0 }]]
    },
    "Store Snapshot": {
      "main": [[{ "node": "Respond Push", "type": "main", "index": 0 }]]
    },
    "Pull Webhook": {
      "main": [[{ "node": "Get Pending Patch", "type": "main", "index": 0 }]]
    },
    "Get Pending Patch": {
      "main": [[{ "node": "Respond Pull", "type": "main", "index": 0 }]]
    },
    "Write Patch Webhook": {
      "main": [[{ "node": "Store Patch", "type": "main", "index": 0 }]]
    },
    "Store Patch": {
      "main": [[{ "node": "Respond Patch", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "_readme": {
    "description": "OdTauLai ↔ Claude bridge via n8n",
    "endpoints": {
      "push":  "POST /webhook/odtaulai-push  — OdTauLai pushes task snapshot here",
      "pull":  "GET  /webhook/odtaulai-pull  — OdTauLai polls for Claude's pending updates",
      "patch": "POST /webhook/odtaulai-patch — Claude POSTs task updates here"
    },
    "how_to_use_from_claude_chat": [
      "1. In OdTauLai → Settings → Claude Integration, enter your n8n Push and Pull URLs",
      "2. Click 'Push to Claude' — this sends your full task list to n8n",
      "3. In this Claude chat, paste your tasks or ask Claude to fetch them via n8n MCP",
      "4. Claude analyzes and POSTs a patch to /webhook/odtaulai-patch",
      "5. Click 'Pull Updates' in OdTauLai — updates apply instantly",
      "",
      "Patch format Claude must return:",
      "{",
      "  'updates': [",
      "    { 'id': 42, 'priority': 'urgent', 'dueDate': '2026-04-20', 'note': 'Reason for change' },",
      "    { 'id': 7,  'status': 'blocked', 'effort': 'l' }",
      "  ]",
      "}"
    ]
  }
}
